<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.css">

</head>
<body>


	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2>formulario</h2>
				<form action="#" th:action="@{${isAdd}?'/save':'/update'}"
					th:object="${usario}" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="nome"
							placeholder="nome" th:field="*{nome}">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="sobrenome"
							placeholder="sobrenome" th:field="*{sobrenome}">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="eamil"
							placeholder="email" th:field="*{eamil}">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="telefone"
							placeholder="telefone" th:field="*{telefone}">
					</div>
					<div class="form-group">
						<input type="file" class="form-control" id="files"
							placeholder="files" th:field="*{files}">
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary"
							th:text="${isAdd}?'/save':'/update'">
					</div>
				</form>
				<hr />
			</div>
			<div class="col-md-12">
				<h2>Todos Usuarios</h2>
				<div style="margin-top: 20px">
					<table class="table table-striped table-bordered"
						style="width: 100%">
						<thead>
							<tr>
								<th>nome</th>
								<th>sobrenome</th>
								<th>email</th>
								<th>telefone</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody>
						<tr th:each="usario : ${usario}">
						<td th:text="${usario.nome}"></td>
						<td th:text="${usario.sobrenome}"></td>
						<td th:text="${usario.eamil}"></td>
						<td th:text="${usario.telefone}"></td>
						<td></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>


		</div>
	</div>


</body>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>